In [1]:
import pandas as pd 
import pickle
from sklearn.naive_bayes import MultinomialNB

In [2]:
df= pd.read_csv("train.csv", encoding="latin-1")

In [3]:
df.head(2)

,id,qid1,qid2,question1,question2,is_duplicate
0,0,1,2,What is the step by step guide to invest in sh...,What is the step by step guide to invest in sh...,0
1,1,3,4,What is the story of Kohinoor (Koh-i-Noor) Dia...,What would happen if the Indian government sto...,0

In [4]:
df.drop(['id', 'qid1', 'qid2'], axis=1, inplace=True)

In [5]:
df.head(2)

,question1,question2,is_duplicate
0,What is the step by step guide to invest in sh...,What is the step by step guide to invest in sh...,0
1,What is the story of Kohinoor (Koh-i-Noor) Dia...,What would happen if the Indian government sto...,0

In [6]:
#some information
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 404290 entries, 0 to 404289
Data columns (total 3 columns):
question1       404289 non-null object
question2       404288 non-null object
is_duplicate    404290 non-null int64
dtypes: int64(1), object(2)
memory usage: 9.3+ MB

#### Checking NAN values

In [7]:
#Checking whether there are any rows with null values
nan_rows = df[df.isnull().any(1)]
print (nan_rows)

                               question1  \
105780    How can I develop android app?
201841  How can I create an Android app?
363362                               NaN

                                                question2  is_duplicate
105780                                                NaN             0
201841                                                NaN             0
363362  My Chinese name is Haichao Yu. What English na...             0

In [8]:
# Filling the null values with ' ' empy string
df =df.fillna('')
nan_rows = df[df.isnull().any(1)]
print (nan_rows)

Empty DataFrame
Columns: [question1, question2, is_duplicate]
Index: []

In [9]:
df.head(2)

,question1,question2,is_duplicate
0,What is the step by step guide to invest in sh...,What is the step by step guide to invest in sh...,0
1,What is the story of Kohinoor (Koh-i-Noor) Dia...,What would happen if the Indian government sto...,0

In [10]:
y = df['is_duplicate']
x = df.drop(['is_duplicate'],axis=1)

In [11]:
x.head(2)

,question1,question2
0,What is the step by step guide to invest in sh...,What is the step by step guide to invest in sh...
1,What is the story of Kohinoor (Koh-i-Noor) Dia...,What would happen if the Indian government sto...

In [12]:
y.head(2)

0    0
1    0
Name: is_duplicate, dtype: int64

In [13]:
from sklearn.feature_extraction.text import CountVectorizer

vect = CountVectorizer(ngram_range=(2,4), min_df=10, max_features=5000 )

In [14]:
x_qst1 = vect.fit_transform(x['question1']) # count vectorizer fit and transform to the  question1 and question2
x_qst2 = vect.fit_transform(x['question2'])

print(x_qst1.shape)
print(x_qst2.shape)

(404290, 5000)
(404290, 5000)

In [15]:
import pickle 
pickle.dump(vect, open('tranform.pkl', 'wb'))

In [16]:
print(x_qst1.shape)
print(x_qst2.shape)
print(type(x_qst1))
print(type(x_qst2))

(404290, 5000)
(404290, 5000)
<class 'scipy.sparse.csr.csr_matrix'>
<class 'scipy.sparse.csr.csr_matrix'>

In [17]:
# https://stackoverflow.com/questions/40243283/how-to-merge-two-csr-matrix-into-one
from scipy import sparse

X_tra = sparse.hstack((x_qst1,x_qst2))  

print("*"*60)
print("Final Data after vectorization:")
print(X_tra.shape, y.shape)

************************************************************
Final Data after vectorization:
(404290, 10000) (404290,)

#### Split the data

In [18]:
from sklearn.model_selection import train_test_split


X_train, X_test, y_train, y_test = train_test_split(X_tra, y, test_size=0.33, random_state=42)

In [19]:
#Naive Bayes Classifier
from sklearn.naive_bayes import MultinomialNB

clf = MultinomialNB(alpha=1.0)


clf.fit(X_train,y_train)

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

#### Save model using pickle

In [21]:
import pickle 
pickle.dump(clf, open('quora_qstn_model.pkl', 'wb'))